<!DOCTYPE html>

<head>

  {% block title %}<title>Local Library</title>{% endblock %}

{% block style %}
{% include "styles.html" %}

{% endblock style %}
  <!-- Add additional CSS in static file -->

</head>
<header>
	<div class="overlay">
<h1>Go For A Walk</h1>
<h3>Reasons for Choosing US</h3>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab.</p>
	<br>
	<button>READ MORE</button>
		</div>
</header>
{% block header %}
{% include "menu.html" %}
{% endblock header %}
<html>
<body>
{% block body %}
{% include "tickets.html" %}
{% endblock body %}
</body>
</html>
{% block footer %}
{% include "pie.html" %}

{% endblock footer %}