

.map
{
   
   display:block;
   margin:auto;
   align-content: center;
   overflow:hidden;
}


.mp-container {
position: relative;
padding-bottom: 35%;
height: 0;
overflow: hidden;
}
.mp-container iframe {
position: absolute;
top: 4%;
left: 0;
width: 100%;
height: 100%;
}


