
<!DOCTYPE html>

<head>

{% block title %}<title>Eventos</title>{% endblock %}

{% block style %}
{% include "styles.html" %}
{% include "style_book.html" %}

{% endblock style %}
  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Capriola'><link rel="stylesheet" href="./style.css">
</head>
<header>
	<div class="overlay">
<h1>Go For A Walk</h1>
<h3>Reasons for Choosing US</h3>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab.</p>
	<br>
	<button>READ MORE</button>
		</div>
</header>
{% block header %}
{% include "menu.html" %}
{% endblock header %}
<html>
<body>
{% block body %}
{% include "tickets.html" %}
{% include "tickets.html" %}
{% include "tickets.html" %}
{% include "tickets.html" %}
{% include "tickets.html" %}
{% include "tickets.html" %}
{% include "tickets.html" %}
{% include "tickets.html" %}
{% include "tickets.html" %}
{% include "tickets.html" %}
{% endblock body %}
</body>
</html>
{% block footer %}
{% include "pie.html" %}

{% endblock footer %}