
<div class="container">
  <h1 class="upcomming">upcomming gigs</h1>
  
  
  <!– Ticket 1 –>
  
  
  
  <div class="item">
    <div class="item-right">
      <h2 class="num">18</h2>
      <p class="day">Dic</p>
      <span class="up-border"></span>
      <span class="down-border"></span>
    </div> <!-- end item-right -->
    
    <div class="item-left">
      <p class="event">Music Event</p>
      <h2 class="title">Vanesa Martín</h2>
      
      <div class="sce">
        <div class="icon">
          <i class="fa fa-table"></i>
        </div>
        <p>Dom, 18 dic, 20:00 <br/> lun, 19 dic, 0:0</p>
      </div>
      <div class="fix"></div>
      <div class="loc">
        <div class="icon">
          <i class="fa fa-map-marker"></i>
        </div>
        <p>Bilbao Arena Askatasuna <br/> Etorb., 13, Bilbao</p>
      </div>
      <div class="fix"></div>
      <button class="tickets">Tickets</button>
    </div> <!-- end item-right -->
  </div> <!-- end item -->
  
  
  
  
  <!– Fin Ticket 1 –>
  
  
  <!– Ticket 2 –>
  
  
  
  <div class="item">
    <div class="item-right">
      <h2 class="num">17</h2>
      <p class="day">Dic</p>
      <span class="up-border"></span>
      <span class="down-border"></span>
    </div> <!-- end item-right -->
    
    <div class="item-left">
      <p class="event">Music Event</p>
      <h2 class="title">HIRIZ HIRI</h2>
      
      <div class="sce">
        <div class="icon">
          <i class="fa fa-table"></i>
        </div>
        <p>Sala BBK <br/> sáb, 17 dic, 21:00</p>
      </div>
      <div class="fix"></div>
      <div class="loc">
        <div class="icon">
          <i class="fa fa-map-marker"></i>
        </div>
        <p>Gran Vía de Don Diego López de Haro, <br/>19-21, Bilbao</p>
      </div>
      <div class="fix"></div>
      <button class="tickets">Tickets</button>
    </div> <!-- end item-right -->
  </div> <!-- end item -->
  
  
  <!– FIn Ticket 2 –>
  
  
  <!– Ticket 3 –>
  <div class="item">
    <div class="item-right">
      <h2 class="num">19</h2>
      <p class="day">Nov</p>
      <span class="up-border"></span>
      <span class="down-border"></span>
    </div> <!-- end item-right -->
    
    <div class="item-left">
      <p class="event">Classical Music</p>
      <h2 class="title">Anna Bolena</h2>
      
      <div class="sce">
        <div class="icon">
          <i class="fa fa-table"></i>
        </div>
        <p>Palacio Euskalduna <br/> 19:00</p>
      </div>
      <div class="fix"></div>
      <div class="loc">
        <div class="icon">
          <i class="fa fa-map-marker"></i>
        </div>
        <p>Av. Abandoibarra, 4</p>
      </div>
      <div class="fix"></div>
      <button class="booked">Booked</button>
    </div> <!-- end item-right -->
  </div> <!-- end item -->
  
  
  
  
  <!– Fin Ticket 3 –>
  
  
  <!– Ticket 4 –>
  <div class="item">
    <div class="item-right">
      <h2 class="num">23</h2>
      <p class="day">Nov</p>
      <span class="up-border"></span>
      <span class="down-border"></span>
    </div> <!-- end item-right -->
    
    <div class="item-left">
      <p class="event">Classical Music</p>
      <h2 class="title linethrough">Carmina Burana</h2>
      
      <div class="sce">
        <div class="icon">
          <i class="fa fa-table"></i>
        </div>
        <p>Palacio Euskalduna <br/> 19:30</p>
      </div>
      <div class="fix"></div>
      <div class="loc">
        <div class="icon">
          <i class="fa fa-map-marker"></i>
        </div>
        <p>Av. Abandoibarra, 4</p>
      </div>
      <div class="fix"></div>
      <button class="cancel">Cancele</button>
    </div> <!-- end item-right -->
  </div> <!-- end item -->
</div>

<!-– Fin Ticket 4 -–>

